<a href="https://colab.research.google.com/github/sakamototaisei/python_colab/blob/main/PH_%E7%A7%BB%E5%8B%95%E5%B9%B3%E5%9D%87%E7%B7%9A_MACD_RSI.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **株価情報の取得**

In [2]:
pip install yahoo_finance_api2

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting yahoo_finance_api2
  Downloading yahoo_finance_api2-0.0.12.tar.gz (3.2 kB)
  Preparing metadata (setup.py) ... done
Requirement already satisfied: pyyaml in /usr/local/lib/python3.9/dist-packages (from yahoo_finance_api2) (6.0)
Requirement already satisfied: requests in /usr/local/lib/python3.9/dist-packages (from yahoo_finance_api2) (2.27.1)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.9/dist-packages (from requests->yahoo_finance_api2) (2.0.12)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.9/dist-packages (from requests->yahoo_finance_api2) (2022.12.7)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.9/dist-packages (from requests->yahoo_finance_api2) (3.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.9/dist-packages (from requests->yahoo_finance_api2) (1.26.15)
Building wheels for collected packages: yahoo_finance_api2
  Building wheel for yahoo_finance_api2 (setup.py) ... done
  Created wheel for yahoo_finance_api2: filename=yahoo_finance_api2-0.0.12-py3-none-any.whl size=3733 sha256=0853343d30576db4512a90984e3824afbe1c2bdca1802737c7c11ebb89b17e36
  Stored in directory: /root/.cache/pip/wheels/60/31/49/4f2dc65be0bb9c065b8f90701802babc434ad029dfaa9202df
Successfully built yahoo_finance_api2
Installing collected packages: yahoo_finance_api2
Successfully installed yahoo_finance_api2-0.0.12

In [3]:
import sys
from yahoo_finance_api2 import share
from yahoo_finance_api2.exceptions import YahooFinanceError
import pandas as pd

In [6]:
# トヨタ株価取得
my_share = share.Share('7203.T')
symbol_data = None
try:
    symbol_data = my_share.get_historical(
    share.PERIOD_TYPE_YEAR, 5,
    share.FREQUENCY_TYPE_DAY, 1)
except YahooFinanceError as e:
    print(e.message)
    sys.exit(1)
df = pd.DataFrame(symbol_data)
df["datetime"] = pd.to_datetime(df.timestamp, unit="ms")

In [7]:
df.head()

,timestamp,open,high,low,close,volume,datetime
0,1522627200000,1366.599976,1374.000000,1355.800049,1355.800049,14830000,2018-04-02
1,1522713600000,1341.000000,1350.199951,1337.400024,1346.000000,24130000,2018-04-03
2,1522800000000,1350.000000,1354.000000,1340.800049,1347.800049,26515500,2018-04-04
3,1522886400000,1357.000000,1361.800049,1347.400024,1350.000000,28923500,2018-04-05
4,1522972800000,1353.000000,1363.400024,1345.000000,1345.599976,24289500,2018-04-06